#control-panel {
    min-height: 100%;
    min-width: 100%;
    display: flex;
}

.control-content {
    padding-top: 30px;
    padding-left: 30px;
}

.add-button {
    margin: 5px;
}

.data-form {
    padding: 10px;
}
